<div class="container shadow-lg">

  <div class="row">

      <div class="col-sm-6 col-background">

        <br>

        <div class="signup-form">

          <form name="form-signin" (ngSubmit)="f.form.valid && logIn()" #f="ngForm">

            <div *ngIf="isLoggedIn" class="alert alert-success text-center">
              <strong>Successfully logged in!</strong>
            </div>

            <div class="alert alert-danger alert-dismissable text-center" *ngIf="message">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>{{message}}</strong>
            </div>

            <div class="text-center" *ngIf="message && !isLoggedIn">
              <div class="spinner-border" style="color: #e6407d;width: 5rem;height: 5rem;" role="status"></div>
            </div>

            <h2>Sign In</h2>
            <p class="text-center">Welcome to Match Zone</p>
            <hr>

            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="form.username" #username="ngModel" required minlength="4" />
              <div class="alert alert-danger" *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">Username must be at least 4 characters</div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="form.password" #password="ngModel" required minlength="6" />
              <div class="alert alert-danger" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-pink">Sign In</button>
              <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                <p class="text-center">Login failed!</p>
                <p class="text-center">{{errorMessage}}</p>
              </div>
            </div>
          </form>
          <div class="text-center">
            Don't have an account? <a [routerLink]="['/register']">Register here</a>
            <br>
            Don't remember your password? <a [routerLink]="['/reset-pass']">Reset now</a>
          </div>
        </div>

        <br>

      </div>

    <div class="col-sm-6 col-background">

      <div class="container">
        <img [src]="pinkHeartPath" class="mx-auto d-block custom-image" alt="Pink Heart">
      </div>

    </div>
  </div>

</div>

