<div class="container">

  <div class="row shadow-lg col-background">

    <div class="col-sm-1 text-center">
      <img [src]="comingSoonPath" class="custom-image" alt="">
    </div>

    <div class="col-sm-6">
      <h1 class="text-center custom-font">Coming Soon!</h1>
      <h2 class="text-center">Stay tuned for new content</h2>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-10">
      <p class="text-center"><a [routerLink]="['/home']"><button type="button" class="btn btn-primary">Go to Homepage</button></a></p>
    </div>

  </div>

  <hr>

</div>
